
/********************
*      General      *
********************/

body 
{
	margin: 0;
	font-family: Georgia;
	font-size: 14px;
	color: #26373e;
	line-height: 1.5;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
	background: #fff;
}

#container
{
	margin: 20px auto 20px auto;
	display: block;
	width: 950px; 
	min-width: 900px;
	background: #e7e495;
	border-radius: 9px;
	box-shadow: 16px 18px 20px -7px #888, -16px 18px 20px -7px #888;
	
}

#content
{
	margin: 40px;;
	width: 90%;
	text-align: left;
}

#banner
{
	margin-top: 20px;
	background: #26373e;
	border-radius: 9px 9px 0px 0px;
	padding: 1px;
}

#bannerLogo
{
	width: 285px;
	height: 66px;
	float: left;
	margin: 25px 40px;
}

#footer
{
	height: 120px;
	border-radius: 9px;
	background-image: -moz-linear-gradient(#e7e495, #cfa924);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #cfa924),color-stop(1, #e7e495));
	text-align: bottom;
	position: relative;
}

#footerContent
{
	position: relative;
	bottom: -80px;
}

#footerContent a
{
	text-decoration: none;
	color: #26373e;
}

/***************************************
*      Search box + submit button      *
***************************************/

#searchSection
{
	margin-bottom: 20px;
}

#searchBox
{
	background: #3e627c;
	background-image: -moz-linear-gradient(#26373e, #3e627c);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0%, #26373e),color-stop(5%, #3e627c),color-stop(95%, #3e627c),color-stop(100%, #26373e));
	background-image: linear-gradient(linear,left bottom,left top,color-stop(0%, #26373e),color-stop(5%, #3e627c),color-stop(95%, #3e627c),color-stop(100%, #26373e));
	-moz-border-radius: 35px;
	border-radius: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #26373e;            
	width: 500px;
	height: 35px;
	padding: 10px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

#search
{
	float: left;
	padding: 5px 9px;
	height: 23px;
	width: 380px;
	border: 1px solid #3e627c;
	background: #fff;
	outline: none;	
	color: #26373e;
	font-size: 1.4em;
	text-indent: 0.5em;
	letter-spacing: 0.1em;
	font-family: Georgia;
	font-weight: 600;
	
	-moz-border-radius: 50px 3px 3px 50px;
 	border-radius: 50px 3px 3px 50px;
 	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(#3e627c, #26373e, #aa3217, 1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(#3e627c, #26373e, #aa3217, 1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(#3e627c, #26373e, #aa3217, 1);            
}

#search:active, #search:focus
{
	background: #fff9e3;
}

#submit
{	
	float: left;
	background: #e7e495;
	background-image: -moz-linear-gradient(#cfa924, #e7e495);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #cfa924),color-stop(1, #e7e495));
	
	-moz-border-radius: 3px 50px 50px 3px;
	border-radius: 3px 50px 50px 3px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #cfa924 #cfa924 #cfa924;
	
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 35px;
	margin: 0 0 0 9px;
    padding: 0;
	width: 90px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #26373e;
	outline: none;
	font-size: 1.2em;
	
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover, #submit:focus
{		
	background: #cfa924;
	background-image: -moz-linear-gradient(#e7e495, #cfa924);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #e7e495),color-stop(1, #cfa924));
}	

#submit:active
{		
	background: #cfa924;
	outline: none;
   
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner
{
    border: 0;  /* Small centering fix for Firefox */
}


/************************
*     Radio buttons     *
************************/

#searchItems
{
	margin: 0 auto;
	border: none;
	position: relative;
	margin-top: 10px;
}

input[type=radio]
{
	appearance: none;
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

fieldset img
{
	margin: 10px 20px 0px 20px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	opacity: 0.5;
	background-color: #e7e495;
	border: 3px solid #3e627c;
	border-radius:9px;
	-webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#searchItems img:hover
{
	-webkit-transform: scale(1.2) translateZ(0);
    -moz-transform: scale(1.2) translateZ(0);
    -o-transform: scale(1.2) translateZ(0);
    transform: scale(1.2) translateZ(0);
}

.checked
{
	opacity: 1;
}


/******************
*      views      *
******************/

div
{
	position: relative;
}

#title
{
	font-size: 1.8em;
}

#title img
{
	width: 1.2em;
	height: 1.2em;
	position: relative;
	left: -0.3em;
	top: 0.2em;
}

#welcome a
{
	color: #3e627c;
	text-decoration: none;
	padding: 2px;
}

.label
{
	font-size: 1.2em;
}

.discographyList ul li
{
	display: inline;
}

.discographyList ol, ul
{
	list-style: none;
	color: #3e627c;
}

.discographyList ol li, ul li
{
	color: #26373e;
	text-decoration: none;
	padding: 2px;
}

.discographyList ol li a:hover, ul li a:hover, #welcome a:hover
{
	padding: 2px;
	color: #26373e;
	font-style: oblique;
}

.discographyList ol li img, ul li img
{
	width: 1em;
	height: 1em;
	position: relative;
	left: -0.3em;
	top: 0.2em;
}

.biography 
{
	color: 26373e;
}

.biography  a, .discographyList ol li a, ul li a
{
	text-decoration: none;
	color: #3e627c;
}

.biography  a:hover
{
	color: #000;
}

#collapsibleText
{
    position: absolute;
    z-index: 2;
    right: 0;
	bottom: 0;
	left: 0;
    height: 8em;
    background: url(data:image/svg+xml;base64,alotofcodehere);
    background: -moz-linear-gradient(top,  rgba(231,228,149,0) 20%,rgba(231,228,149,1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,228,149,0)), color-stop(70%,rgba(231,228,149,1)));
    background: -webkit-linear-gradient(top,  rgba(231,228,149,0) 20%,rgba(231,228,149,1) 70%);
    background: -o-linear-gradient(top,  rgba(231,228,149,0) 20%,rgba(231,228,149,1) 70%);
    background: -ms-linear-gradient(top,  rgba(231,228,149,0) 20%,rgba(231,228,149,1) 70%);
    background: linear-gradient(to bottom,  rgba(231,228,149,0) 20%,rgba(231,228,149,1) 70%);
}

#collapsibleLabel
{
	position: absolute;
	bottom: 0;
	left: 20em;
	width: 100%; 
	z-index: 3;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #3e627c;
}

#collapsibleLabel:hover
{
	color: #26373e;
}

#musicBio
{
	height: 200px;
	overflow: hidden;
}
